*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(27, 188, 155);
}
.container{
    width: 300px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
input{
    padding: 10px;
}
.text-field{
    font-size: 0.75em;
    border: none;
    /*box-sizing: border-box로 설정했기 때문에 100%*/
    width: 100%;
    margin-bottom: 10px;
    /* margin: 0,0,10px; 위의 방법과 같다. */
    border-radius: 5px;
}
.btn-input{
    font-size: 0.75em;
    border: none;
    width: 100%;
    background-color: rgb(27, 188, 155);
    border-radius: 5px;
    margin-bottom: 30px;
    color: white;
}
.links{
    text-align: center;
    margin: 0;
}
.links a{
    font-size: 0.75em;
    color: gray;
    text-decoration-line: none;

}