#image{
    width: 400px;
    height: 400px;
   display: block;
   margin: 0 auto;
   text-align: center;
   border: none;

}
#h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    width: 20%;
    border: 5px solid black;
    margin: 0px auto;
    
    
}
ul>li{
    display: inline;
    text-align: center;
    font-weight: bolder;
    margin-right: 60px;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 30px;
    
}
ul{
    text-align: center;
}
ul a{
    text-decoration-line: none;
}
body{
    text-align: center;
}